
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#e7dfd8;
    --black:#000000;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#000000;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icones  div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icones div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(imagens/img-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#000000;
}

.home .content p{
    text-align: left;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#000000;
}

.sobre .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.sobre .row .imagem{
    flex:1 1 45rem;
    width: 100%;
 
}

.sobre .row .content{
    flex:1 1 45rem;
    padding:2rem;
   
}

.sobre .row .content h3{
    font-size: 4rem;
    color:#fff;
}

.sobre .row .content p{
    font-size: 2rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align:justify;
}

h4{
    color: #fff;
    font-family:'Roboto', sans-serif;
    font-size:30px;
    text-align: center;

}
@keyframes changeColor {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}

h4 {
    animation: changeColor 2s infinite;
}

.redes{
   padding: 20px;
   display: flex;
   justify-content: center;
}
.redes a{
    margin-right: 30px;
    border-radius: 50%;
    color: #e7dfd8;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 40px;  
}
.redes a:hover{
    transform: scale(1.2);
    color: #ffbbd387;
}
.justificado{
    text-align: justify;
}
.projetos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.projetos .box-container .box{
    border:var(--border);    
}

.projetos .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.projetos .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.projetos .box-container .box:hover .image img{
    transform: scale(1.2);
}

.projetos .box-container .box .content{
    padding:2rem;
}

.projetos .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.projetos .box-container .box .content .title:hover{
    color:var(--main-color);
}

.projetos .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.projetos .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.contato h1{
    color: #fff;
    font-family:'Roboto', sans-serif;
    font-size: 6rem;
    text-align: center;

}

.form {
    max-width: 800px;
    margin: 0 auto;
   
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  button:hover {
    background-color: #2980b9;
   
  }
  
 
  body {
    font-family: Arial, sans-serif;
    font-size: 15px;
   
  }
  
  .form {
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}
p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}


.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .redes {
    margin-top: 10px;
  }
  
  .redes a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .credito {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .credito span {
    font-weight: bold;
  }
  


/*  aqui começa a responsividade */

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}